
CustomAmmoDisplay {
    position: absolute;
    align-items: center;
    bottom: 35px;
    right: 35px;
    height: auto;
    color: white;
    font-family: Poppins;
    background-color: #73737370;
    backdrop-filter: blur( 16px );
    border-radius: 4px;
    padding: 0;
    padding-top: 40px;
    padding-right: 20px;
    padding: 40px 60px 0px 30px;
    border-radius: 10px;

    .name {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-family: FONTSPRING DEMO - Integral CF;
        text-transform: uppercase;
        border-bottom: 2px solid rgb(148, 148, 148);
        padding: 10px;
    }

    .clip {
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        font-size: 60px;
        transition: color 0.5s ease-out;
    }

    .reserve {
        position: absolute;
        right: 20px;
        bottom: 15px;
        font-size: 24px;
        font-weight: bold;
        transition: color 0.5s ease-out;
    }

    &.hide {
        display: none;
    }
}
